interactions:
- request:
    body: ''
    headers:
      authorization:
      - REDACTED_TOKEN
    method: GET
    uri: https://api.kickbase.com/v4/competitions/1/table
  response:
    body:
      string: '{"it": [{"tid": "2", "tn": "Bayern", "il": false, "mi": "12034", "cp":
        10, "cpl": 2, "pcpl": 2, "mc": 4, "gd": 12, "sp": 9500, "tim": "content/file/ff70df040a9f4179a7b45219225a2273.svg"},
        {"tid": "9", "tn": "Stuttgart", "il": false, "mi": "12022", "cp": 3, "cpl":
        15, "pcpl": 15, "mc": 4, "gd": -3, "sp": 3637, "tim": "content/file/9a1bb78d0ccf45f895797c0c6d8c4d40.svg"},
        {"tid": "77", "tn": "Elversberg", "il": false, "mi": "12028", "cp": 7, "cpl":
        7, "pcpl": 7, "mc": 4, "gd": 1, "sp": 4528, "tim": "content/file/0316d4ec54e94ae4afac4ba34fcec8de.svg"},
        {"tid": "7", "tn": "Leverkusen", "il":[...]
