interactions:
- request:
    body: ''
    headers:
      authorization:
      - REDACTED_TOKEN
    method: GET
    uri: https://api.kickbase.com/v4/leagues/1111111/squad
  response:
    body:
      string: '{"it": [{"mvgl": -181730, "i": "1991", "n": "Upamecano", "lo": 2, "lst":
        1, "st": 0, "stl": [], "mdst": 0, "pos": 2, "mv": 33697577, "mvt": 1, "p":
        712, "ap": 178, "iotm": false, "ofc": 0, "tid": "2", "sdmvt": 7367, "tfhmvt":
        5697, "pim": "redacted/image.png"}, {"mvgl": -1561169, "i": "12321", "n":
        "Simpson-Pusey", "lo": 1, "lst": 1, "st": 0, "stl": [], "mdst": 0, "pos":
        2, "mv": 10827018, "mvt": 1, "p": 302, "ap": 76, "iotm": false, "ofc": 0,
        "tid": "28", "sdmvt": 1021585, "tfhmvt": 175802, "pim": "redacted/image.png"},
        {"mvgl": -508723, "i": "2977", "n": "Noll", "lo": 0, "lst": 1, "st": 0, "stl":
        [], "mdst": 0, "pos": 1, "mv": 13491277, "mvt": 1, "p": 504, "ap": 126, "iotm":
        fals[...]
