interactions:
- request:
    body: ''
    headers:
      authorization:
      - REDACTED_TOKEN
    method: GET
    uri: https://api.kickbase.com/v4/leagues/selection
  response:
    body:
      string: '{"it": [{"i": "1111111", "n": "Noob_League", "cpi": "1", "b": -380069,
        "un": 81, "lpc": 8, "bs": 3, "vr": 4, "adm": false, "pl": 3, "tv": 148767974,
        "idf": true, "cpim": "content/file/a9eb2919122b4e248349ba91db351901.png",
        "gpm": 1, "rnkm": 1, "isvf": false, "vft": 0, "hum": false, "isp": false}],
        "anol": 12, "anopl": 12, "anoprl": 12}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
