interactions:
- request:
    body: ''
    headers:
      authorization:
      - REDACTED_TOKEN
    method: GET
    uri: https://api.kickbase.com/v4/leagues/1111111/me
  response:
    body:
      string: '{"b": -380069.0, "bs": 3, "mppu": 16, "un": 81, "adm": false, "cpi":
        "1", "lnm": "Noob_League", "tpc": [{"tid": "2", "npt": 2, "tim": "content/file/ff70df040a9f4179a7b45219225a2273.svg"},
        {"tid": "28", "npt": 1, "tim": "content/file/dca70c4089fd4623932b245c0e81eaba.svg"},
        {"tid": "29", "npt": 1, "tim": "content/file/ce455adfd794457f9ab90f7bab522812.svg"},
        {"tid": "4", "npt": 1, "tim": "content/file/422de82bee3b47eb898699d6d27095ba.svg"},
        {"tid": "7", "npt": 1, "tim": "content/file/e06a055a6eaf4fd7bebfadb35037f957.svg"},
        {"tid": "13", "npt": 2, "tim": "content/file/8d68c946b9774505b8292adfa910d0a0.svg"}],
        "gpm": 1, "rnkm": 1, "mgc": 4, "mgm": 18, "hum": false, "isp": false, "cd":
        "DE", "upe": false, "as2e": true, "isvf": false, "vft": 0}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
