interactions:
- request:
    body: ''
    headers:
      authorization:
      - REDACTED_TOKEN
    method: GET
    uri: https://api.kickbase.com/v4/leagues/1111111/lineup
  response:
    body:
      string: '{"it": [{"i": "1991", "n": "Upamecano", "ap": 178, "lo": 2, "st": 0,
        "lst": 1, "mdst": 0, "tid": "2", "pos": 2, "os": "FCA", "ph": [{"hp": true,
        "p": 97}, {"hp": true, "p": 126}, {"hp": true, "p": 217}, {"hp": true, "p":
        272}], "ht": false, "pim": "redacted/image.png", "ictp": false}, {"i": "12321",
        "n": "Simpson-Pusey", "ap": 76, "lo": 1, "st": 0, "lst": 1, "mdst": 0, "tid":
        "28", "pos": 2, "os": "BMG", "ph": [{"hp": true, "p": 76}, {"hp": true, "p":
        85}, {"hp": true, "p": 79}, {"hp": true, "p": 62}], "ht": true, "pim": "redacted/image.png",
        "ictp": false}, {"i": "2977", "n": "Noll", "ap": 126, "lo": 0, "st": 0, "lst":
        1, "mdst": 0, "tid": "29", "pos": 1, "os": "VFB", "ph": [{"hp": true, "p":
        122}, {"hp": true, "p": 15[...]
