interactions:
- request:
    body: ''
    headers:
      authorization:
      - REDACTED_TOKEN
    method: GET
    uri: https://api.kickbase.com/v4/leagues/1111111/lineup/overview
  response:
    body:
      string: '{"mdln": "5 Match Day", "lis": "2026-10-09T18:30:00Z", "b": -98767974,
        "lp": [{"pi": "2977", "n": "Noll", "st": 0, "lst": 1, "mdst": 0, "pos": 1,
        "lo": 0, "tid": "29", "ap": 126, "mv": 13491277, "t1": "29", "t2": "9", "pim":
        "redacted/image.png", "t1im": "content/file/ce455adfd794457f9ab90f7bab522812.svg",
        "t2im": "content/file/9a1bb78d0ccf45f895797c0c6d8c4d40.svg", "ictp": false},
        {"pi": "12321", "n": "Simpson-Pusey", "st": 0, "lst": 1, "mdst": 0, "pos":
        2, "lo": 1, "tid": "28", "ap": 76, "mv": 10827018, "t1": "28", "t2": "15",
        "pim": "redacted/image.png", "t1im": "content/file/dca70c4089fd4623932b245c0e81eaba.svg",
        "t2im": "content/file/7178ef92ad0747a5ad1a05d0783f5088.svg", "ictp": false},
        {"pi": "1991", "n": "Upamecano", "st": 0, "lst": 1, "mdst": 0, "pos": 2, "lo":
        2, "tid": "2", "ap": 178, "mv": 33697577, "t1":[...]
