interactions:
- request:
    body: '{"em": "redacted@example.com", "pass": "REDACTED_PASSWORD"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.kickbase.com/v4/user/login
  response:
    body:
      string: '{"emve": "redacted@example.com", "u": {"email": "redacted@example.com",
        "notifications": 1023, "flags": 17, "proExpiry": "2026-10-11T20:15:14Z", "vemail":
        "redacted@example.com", "perms": [1, 1000, 3001, 3, 7, 11, 13, 3000, 15, 16],
        "id": "9999999", "name": "Redacted", "profile": "redacted/image.png", "trd":
        2, "sfb": "redacted/image.png", "efb": "redacted/image.png", "mfacp": [],
        "emv": true, "emvr": false, "uim": "redacted/image.png"}, "srvl": [{"id":
        "1111111", "cpi": "1", "name": "Redacted", "creator": "Redacted", "creatorId":
        "4320427", "creation": "2026-08-25T12:14:58Z", "ai": 1.0, "t": 190, "au":
        4, "mu": 18, "ap": 3381, "pub": false, "gm": 1, "mpl": true, "pl": 16, "amd":
        false, "vr": 4, "adm": false, "uim": "redacted/image.png"}], "tkn": "REDACTED_JWT",
        "tknex": "2026-09-30T16:22:57Z", "chttkn": "REDACTED_JWT", "chtknex": "2026-09-23T17:22:57Z",
        "isnu": false, "isnr": false, "emv": true, "emvr": false}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
