interactions:
- request:
    body: ''
    headers:
      authorization:
      - REDACTED_TOKEN
    method: GET
    uri: https://api.kickbase.com/v4/leagues/1111111/managers/9999999/transfer
  response:
    body:
      string: '{"u": "9999999", "unm": "Redacted", "it": [{"pi": "3176", "pn": "Ibrahimovi\u0107",
        "tid": "13", "tty": 2, "trp": 9745521, "dt": "2026-09-23T13:28:19Z", "pim":
        "redacted/image.png"}, {"pi": "6668", "pn": "Minjae", "tid": "2", "tty": 2,
        "othnm": "Redacted", "trp": 12200000, "dt": "2026-09-23T12:46:13Z", "pim":
        "redacted/image.png"}, {"pi": "2302", "pn": "Jeong", "tid": "40", "tty": 2,
        "trp": 3268575, "dt": "2026-09-23T12:40:53Z", "pim": "redacted/image.png"},
        {"pi": "14251", "pn": "Saibari", "tid": "2", "tty": 1, "trp": 28000000, "dt":
        "2026-09-22T21:21:41Z", "pim": "redacted/image.png"}, {"pi": "12317", "pn":
        "Adam", "tid": "77", "tty": 2, "trp": 899208, "dt": "2026-09-22T12:17:05Z",
        "pi[...]
