interactions:
- request:
    body: ''
    headers:
      authorization:
      - REDACTED_TOKEN
    method: GET
    uri: https://api.kickbase.com/v4/leagues/1111111/market
  response:
    body:
      string: '{"it": [{"i": "75", "fn": "Patrick", "n": "Drewes", "tid": "3", "pos":
        1, "st": 0, "mvt": 0, "mv": 500000, "ofc": 0, "exs": 27522, "prc": 500000,
        "isn": true, "iposl": false, "dt": "2026-08-31T01:59:05Z", "pim": "redacted/image.png",
        "prob": 5}, {"i": "89", "fn": "Christian", "n": "G\u00fcnter", "tid": "5",
        "pos": 2, "st": 0, "mvt": 2, "mv": 5453363, "ofc": 0, "exs": 83818, "prc":
        5453363, "isn": false, "iposl": false, "dt": "2026-08-30T17:16:21Z", "pim":
        "redacted/image.png", "prob": 3}, {"i": "670", "fn": "Kenan", "n": "Karaman",
        "tid": "8", "pos": 4, "st": 2, "mvt": 2, "mv": 10275517, "ofc": 0, "exs":
        118482, "prc": 10275517, "isn": false, "iposl": false, "dt": "2026-08-30T20:29:05Z",
        "pim": "redacted/image.png", "prob": 4}, {"i": "1920", "fn": "Serhou", "n":
        "Guirassy", "tid": "3", "pos": 4, "st": 0, "mvt": 1, "mv": 30111965, "p":
        181, "ap": 181, "ofc": 0, "exs": 54567, "prc": 30111965, "isn": false, "iposl":
        false, "dt": "2026-08-30T19:27:50Z", "pim": "redacted/image.png", "prob":
        1}, {"i": "2084", "fn": "Philipp", "n": "Lienhart", "tid": "5", "pos": 2,
        "st": 0, "mvt": 2, "mv": 13303792, "p": 128, "ap": 128, "ofc": 0, "exs": 2902,
        "prc": 13303792, "isn": false, "iposl": false, "dt": "2026-08-29T12:44:45Z",
        "pim": "redacted/image.png", "prob": 3}, {"i": "2141", "fn": "Ridle ", "n":
        "B[...]
