interactions:
- request:
    body: ''
    headers:
      authorization:
      - REDACTED_TOKEN
    method: GET
    uri: https://api.kickbase.com/v4/leagues/1111111/market
  response:
    body:
      string: '{"it": [{"i": "43", "fn": "Mitchell", "n": "Weiser", "tid": "10", "pos":
        2, "st": 0, "mvt": 1, "mv": 6779912, "p": 141, "ap": 71, "ofc": 0, "exs":
        16176, "prc": 6779912, "isn": false, "iposl": false, "dt": "2026-09-23T02:01:35Z",
        "pim": "redacted/image.png"}, {"i": "78", "fn": "Jonas", "n": "Hofmann", "tid":
        "7", "pos": 3, "st": 0, "mvt": 2, "mv": 3410857, "p": 43, "ap": 43, "ofc":
        0, "exs": 65737, "prc": 3410857, "isn": true, "iposl": false, "dt": "2026-09-23T12:59:36Z",
        "pim": "redacted/image.png"}, {"i": "157", "fn": "Niklas", "n": "Stark", "tid":
        "10", "pos": 2, "st": 0, "mvt": 2, "mv": 2821595, "ofc": 0, "exs": 11139,
        "prc": 2821595, "isn": false, "iposl": false, "dt": "2026-09-22T1[...]
