interactions:
- request:
    body: ''
    headers:
      authorization:
      - REDACTED_TOKEN
    method: GET
    uri: https://api.kickbase.com/v4/competitions/1/matchdays
  response:
    body:
      string: '{"it": [{"day": 1, "it": [{"mi": "11914", "day": 1, "dt": "2026-08-28T18:30:00Z",
        "t1": "2", "t2": "9", "t1sy": "FCB", "t2sy": "VFB", "t1g": 5, "t2g": 1, "mtd":
        "90", "st": 2, "il": false, "t1im": "content/file/ff70df040a9f4179a7b45219225a2273.svg",
        "t2im": "content/file/9a1bb78d0ccf45f895797c0c6d8c4d40.svg", "mt": 95, "fst":
        6}, {"mi": "11917", "day": 1, "dt": "2026-08-29T13:30:00Z", "t1": "77", "t2":
        "7", "t1sy": "ELV", "t2sy": "B04", "t1g": 3, "t2g": 2, "mtd": "90", "st":
        2, "il": false, "t1im": "content/file/0316d4ec54e94ae4afac4ba34fcec8de.svg",
        "t2im": "content/file/e06a055a6eaf4fd7bebfadb35037f957.svg", "mt": 96, "fst":
        6}, {"mi": "11920", "day": 1, "dt": "2026-08-29T13:30:00Z", "t1": "28", "t2":
        "14", "t1sy": "KOE", "t2sy": "TSG", "t1g": 3, "t2g": 2, "mtd": "90[...]
