interactions:
- request:
    body: ''
    headers:
      authorization:
      - REDACTED_TOKEN
    method: GET
    uri: https://api.kickbase.com/v4/leagues/1111111/players/1991/performance
  response:
    body:
      string: '{"it": [{"sid": "9", "ti": "2016/2017", "n": "Bundesliga", "ph": [{"mi":
        "1683", "day": 17, "p": 0, "mp": "0''", "md": "2017-01-21T17:30:00Z", "t1":
        "43", "t2": "4", "t1g": 3, "t2g": 0, "pt": "43", "st": 3, "cur": false, "mdst":
        2, "ap": 62, "tp": 738, "asp": 3330, "t1im": "content/file/29ceb88867954b548ca9e27d39d050c2.svg",
        "t2im": "content/file/422de82bee3b47eb898699d6d27095ba.svg"}, {"mi": "1692",
        "day": 18, "p": 0, "mp": "0''", "md": "2017-01-28T14:30:00Z", "t1": "43",
        "t2": "14", "t1g": 2, "t2g": 1, "pt": "43", "st": 3, "cur": false, "mdst":
        2, "ap": 62, "tp": 738, "asp": 3330, "t1im": "content/file/29ceb88867954b548ca9e27d39d050c2.svg",
        "t2im": "content/file/5212904732a04199aab426e44067347c.svg"}, {"mi": "1694",
        "day": 19, "p": 7, "mp": "24''", "md": "2017-02-04T17:30:00Z", "t1[...]
