interactions:
- request:
    body: ''
    headers:
      authorization:
      - REDACTED_TOKEN
    method: GET
    uri: https://api.kickbase.com/v4/leagues/1111111/managers/9999999/squad
  response:
    body:
      string: '{"u": "9999999", "unm": "Redacted", "uim": "redacted/image.png", "st":
        2, "nps": 8, "it": [{"pi": "1991", "pn": "Upamecano", "tid": "2", "lo": 2,
        "lst": 0, "pos": 2, "st": 0, "stl": [], "p": 712, "ap": 178, "iotm": false,
        "sdmvt": 7367, "tfhmvt": 5697, "mvgl": -181730, "mvt": 1, "mv": 33697577,
        "pim": "redacted/image.png"}, {"pi": "12321", "pn": "Simpson-Pusey", "tid":
        "28", "lo": 1, "lst": 0, "pos": 2, "st": 0, "stl": [], "p": 302, "ap": 76,
        "iotm": false, "sdmvt": 1021585, "tfhmvt": 175802, "mvgl": -1561169, "mvt":
        1, "mv": 10827018, "pim": "redacted/image.png"}, {"pi": "2977", "pn": "Noll",
        "tid": "29", "lo": 0, "lst": 0, "pos": 1, "st": 0, "stl": [], "p": 504, "ap":
        126, "iotm": false, "sdmvt": 368512, "tfhmvt": 89403, "mvgl": -508723, "mvt":
        1, "prc": 14000000.0, "mv": 13491277, "pim": "redacted/image.png"}, {"pi":
        "6081", "pn": "Uzun", "tid": "4", "lo": 4, "lst": 0, "pos": 3, "st": 0, "stl":
        [], "p": 476, "ap": 119, "iotm": false, "sdmvt": 293984, "tfhmvt": 46185,
        "mvgl": -4183499, "mvt": 1, "prc": 30000000.0, "mv": 25816501, "pim": "redacted/image.png"},
        {"pi": "11956", "pn": "Fern\u00e1ndez", "tid": "7", "lo": 6, "lst": 0, "pos":
        3, "st": 0, "stl": [], "p": 490, "ap": 123, "iotm": false, "sdmvt": 88[...]
